*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.navbar{
	width: 100%;
	height: 50px;
	background-color: black;
	top: 0;
	position: sticky;
	color: white;
}
.navbar-container{
	font-family: 'sen',sans-serif;
	display: flex;
	align-items: center;
	padding: 0 50px;
	height: 100%;
}
.logo-container{
	flex: 2;
	display: flex;
	align-items: center;
	height: 100%;
	
}
.menu-container{
	flex: 6;
}
.menu-list{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-list-item{
	margin-right: 20px;
}
.active{
	font-weight: bold;
}
.profile-container{
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family:'sen', sans-serif;
}
.profile-picture{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.profile-text-container{
	margin: 0 15px;
}
.toggle{
	width: 40px;
	height: 20px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}
.toggle-icon{
	color: goldenrod;
}
.toggle-ball{
	width: 18px;
	height: 18px;
	background-color: black;
	position: absolute;
	right: 1px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s all ease;
}

.sidebar{
	width: 50px;
	height: 100vh;
	background-color: black;
	top: 0;
	position: fixed;
}
.sidebar-menu-item{
	color: white;
	font-size: 20px;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.container{
	background-color: #151515;
	min-height: calc(100vh - 50px);
	color: white;
}
.content-container{
	margin-left: 50px;
}
.featured-content{
	height: 40vh;
	padding: 50px;
}
.featured-title{
	width: 200px;
	height: 80px;
}
.featured-desc{
	width: 400px;
	margin: 20px 0;
	font-size: 14px;
}
.featured-button{
	padding: 10px 20px;
	background-color: #4dbf00;
	color: white;
	border-radius: 20px;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

.movie-list-container{
	padding: 0 20px;
}

.movie-list-wrapper{
	position: relative;
	overflow: hidden;
}
.movie-list{
	display: flex;
	align-items: center;
	height: 300px;
	transform : translateX(0);
	transition: 1s all ease-in-out;
}

.movie-list-item{
	margin-right: 30px;
	position: relative;

}
.movie-list-item:hover .movie-list-item-img{
	transform: scale(1.2);
	margin : 0 20px;
	opacity: 0.5;
}
.movie-list-item-img{
	transition: all 1s ease-in-out;
	width: 270px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
}
.movie-list-item-title{
	background-color: #333;
	padding: 0 10px;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 10%;
	left: 50px;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
	opacity: 1;
}
.movie-list-item-desc{
	background-color: #333;
	padding: 10px;
	font-size: 14px;
	position: absolute;
	top: 30%;
	left: 50px;
	width: 200px;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.movie-list-item-button{
	padding: 10px 20px;
	background-color: #4dbf00;
	color: white;
	font-weight: bold;
	border-radius:10px;
	position: absolute;
	top: 75%;
	left: 50px;
	outline: none;
	border:  none;
	cursor: pointer;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.arrow{
	font-size: 100px;
	position: absolute;
	top: 80px;
	right: 0;
	color: lightgray;
	opacity: 0.5;
	cursor: pointer;
}

.container.active{
	background-color: white;
	color: black;
}
.movie-list-title.active{
	color: black;
}
.navbar-container.active{
	background-color: white;
	color: black;
}
.sidebar.active{
	background-color: white;
}
.sidebar-menu-item.active{
	color: black;
}
.toggle.active{
	background-color: black;
}
.toggle-ball.active{
	background-color: white;
	transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
	.menu-container{
		display: none;
	}
}